* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#block_element {
    color: yellow;
}

.inline {
    height: 300px;
}

.block {
    border: 2px solid black;
    height: 300px;
    width: 300px;
    color: red;
}

.inline-block {
    display: inline-block;
    height: 300px;
    color: yellow;
}